################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Chili Framework 2016/v15/Browse.VC.opendb
