################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Chili Framework 2016/v15/Browse.VC.opendb
/.vs/paradrop/v15/Browse.VC.db
/.vs/ParaDropGame/v15/Browse.VC.opendb
/.vs/ParaDrop2/v15/Browse.VC.opendb
